<head>
    <meta charset="utf-8" />
    <title>Speed test</title>
</head>
<body>
    <input id="startBtn" type="button" value="Measure speed" />
    <div id="downloadSpeed"></div>
    <div id="uploadSpeed"></div>
</body>

<script>
    let downloadSpeedElem, uploadSpeedElem;

    document.getElementById("startBtn").addEventListener("click", function (e) {
        downloadSpeedElem = document.getElementById("downloadSpeed");
        downloadSpeedElem.textContent = "Download speed: wait...";
        uploadSpeedElem = document.getElementById("uploadSpeed");
        uploadSpeedElem.textContent = "Upload speed: wait...";

        load();
    });

    function load() {
        let startTime, endTime;
        let downloadSpeeds = [];

        let request = new XMLHttpRequest();
        request.open("GET", "/download", true);

        request.addEventListener("load", function () {
            endTime = (new Date()).getTime();
            let duration = (endTime - startTime) / 1000;
            let length = request.getResponseHeader("content-length");
            let speed = length / duration;
            downloadSpeeds.push(speed);

            if (downloadSpeeds.length < 5) {
                request.open("GET", "/download", true);
                request.send();
                startTime = (new Date()).getTime();
            }
            else {
                let resultDownloadSpeed = getAverageSpeed(downloadSpeeds);
                downloadSpeedElem.textContent = "Download speed: " + resultDownloadSpeed + " Bps";
                upload(request.responseText);
            }
        });

        request.send();
        startTime = (new Date()).getTime();
    }


    function upload(data) {
        let startTime, endTime;
        let uploadSpeeds = [];

        let request = new XMLHttpRequest();
        request.open("POST", "/upload", true);
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

        request.addEventListener("load", function () {
            endTime = (new Date()).getTime();
            let duration = (endTime - startTime) / 1000;
            let length = data.length;
            let speed = (length / duration);
            uploadSpeeds.push(speed);

            if (uploadSpeeds.length < 5) {
                request.open("POST", "/upload", true);
                request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                request.send(JSON.stringify(data));
                startTime = (new Date()).getTime();
            }
            else {
                let resultUploadSpeed = getAverageSpeed(uploadSpeeds);
                uploadSpeedElem.textContent = "Upload speed: " + resultUploadSpeed + " Bps";
            }
        });

        request.send(JSON.stringify(data));
        startTime = (new Date()).getTime();
    }

    function getAverageSpeed(speeds) {
        return (speeds.reduce((a, b) => (a + b)) / speeds.length).toFixed(2);
    }


</script>
